body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #fff7d1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    text-align: center;
}
img {
    width: 250px;
}
.buttons {
    margin-top: 20px;
}
.btn {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
#yes {
    background-color: #ffcc00;
    color: white;
}
#no {
    background-color: #ff6666;
    color: white;
    position: absolute;
}
